# Exemple: Neural Network and XGBoost

In [26]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
import xgboost as xgb
import numpy as np

## CSV imports

In [2]:
train = pd.read_csv(open('train.csv', newline=''))
test = pd.read_csv(open('test.csv', newline=''))

train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Cleaning unwanted columns

In [3]:
train = train.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)
test = test.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)

train

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
861         0       2    male  21.0      1      0   11.5000        S
862         1       1  female  48.0      0      0   25.9292        S
863         0       3  female   NaN      8      2   69.5500        S
864         0       2    male  24.0      0      0   13.0000        S
865         1       2  female  42.0      0      0   13.0000        S
866         1       2  female  27.0      1      0   13.8583        C
867         0       1    male  31.0      0      0   50.4958        S
868         0       3    male   NaN      0      0    9.5000        S
869         1       3    male   4.0      1      1   11.1333        S
870         0       3    male  26.0      0      0    7.8958        S
871         1       1  female  47.0      1      1   52.5542        S
872         0       1    male  33.0      0      0    5.0000        S
873         0       3    male  47.0      0      0    9.0000        S
874         1       2  female  28.0      1      0   24.0000        C
875         1       3  female  15.0      0      0    7.2250        C
876         0       3    male  20.0      0      0    9.8458        S
877         0       3    male  19.0      0      0    7.8958        S
878         0       3    male   NaN      0      0    7.8958        S
879         1       1  female  56.0      0      1   83.1583        C
880         1       2  female  25.0      0      1   26.0000        S
881         0       3    male  33.0      0      0    7.8958        S
882         0       3  female  22.0      0      0   10.5167        S
883         0       2    male  28.0      0      0   10.5000        S
884         0       3    male  25.0      0      0    7.0500        S
885         0       3  female  39.0      0      5   29.1250        Q
886         0       2    male  27.0      0      0   13.0000        S
887         1       1  female  19.0      0      0   30.0000        S
888         0       3  female   NaN      1      2   23.4500        S
889         1       1    male  26.0      0      0   30.0000        C
890         0       3    male  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

## Correcting categorical features

In [4]:
pclass = pd.get_dummies(train['Pclass'])
pclass = pclass.rename(columns={1: 'primeira', 2: 'segunda', 3: 'terceira'})

embarked = pd.get_dummies(train['Embarked'])
embarked = embarked.rename(columns={'C':'Cherbourg', 'Q':'Queenstown', 'S':'Southampton'})

sex = pd.get_dummies(train['Sex'])

train = pd.merge(left = train, right = pclass, left_index = True, right_index = True)
train = pd.merge(left = train, right = embarked, left_index = True, right_index = True)
train = pd.merge(left = train, right = sex, left_index = True, right_index = True)

train = train.drop(['Pclass','Embarked','Sex'], axis=1)

train

,Survived,Age,SibSp,Parch,Fare,primeira,segunda,terceira,Cherbourg,Queenstown,Southampton,female,male
0,0,22.0,1,0,7.2500,0,0,1,0,0,1,0,1
1,1,38.0,1,0,71.2833,1,0,0,1,0,0,1,0
2,1,26.0,0,0,7.9250,0,0,1,0,0,1,1,0
3,1,35.0,1,0,53.1000,1,0,0,0,0,1,1,0
4,0,35.0,0,0,8.0500,0,0,1,0,0,1,0,1
5,0,NaN,0,0,8.4583,0,0,1,0,1,0,0,1
6,0,54.0,0,0,51.8625,1,0,0,0,0,1,0,1
7,0,2.0,3,1,21.0750,0,0,1,0,0,1,0,1
8,1,27.0,0,2,11.1333,0,0,1,0,0,1,1,0
9,1,14.0,1,0,30.0708,0,1,0,1,0,0,1,0
10,1,4.0,1,1,16.7000,0,0,1,0,0,1,1,0
11,1,58.0,0,0,26.5500,1,0,0,0,0,1,1,0
12,0,20.0,0,0,8.0500,0,0,1,0,0,1,0,1
13,0,39.0,1,5,31.2750,0,0,1,0,0,1,0,1
14,0,14.0,0,0,7.8542,0,0,1,0,0,1,1,0
15,1,55.0,0,0,16.0000,0,1,0,0,0,1,1,0
16,0,2.0,4,1,29.1250,0,0,1,0,1,0,0,1
17,1,NaN,0,0,13.0000,0,1,0,0,0,1,0,1
18,0,31.0,1,0,18.0000,0,0,1,0,0,1,1,0
19,1,NaN,0,0,7.2250,0,0,1,1,0,0,1,0
20,0,35.0,0,0,26.0000,0,1,0,0,0,1,0,1
21,1,34.0,0,0,13.0000,0,1,0,0,0,1,0,1
22,1,15.0,0,0,8.0292,0,0,1,0,1,0,1,0
23,1,28.0,0,0,35.5000,1,0,0,0,0,1,0,1
24,0,8.0,3,1,21.0750,0,0,1,0,0,1,1,0
25,1,38.0,1,5,31.3875,0,0,1,0,0,1,1,0
26,0,NaN,0,0,7.2250,0,0,1,1,0,0,0,1
27,0,19.0,3,2,263.0000,1,0,0,0,0,1,0,1
28,1,NaN,0,0,7.8792,0,0,1,0,1,0,1,0
29,0,NaN,0,0,7.8958,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,21.0,1,0,11.5000,0,1,0,0,0,1,0,1
862,1,48.0,0,0,25.9292,1,0,0,0,0,1,1,0
863,0,NaN,8,2,69.5500,0,0,1,0,0,1,1,0
864,0,24.0,0,0,13.0000,0,1,0,0,0,1,0,1
865,1,42.0,0,0,13.0000,0,1,0,0,0,1,1,0
866,1,27.0,1,0,13.8583,0,1,0,1,0,0,1,0
867,0,31.0,0,0,50.4958,1,0,0,0,0,1,0,1
868,0,NaN,0,0,9.5000,0,0,1,0,0,1,0,1
869,1,4.0,1,1,11.1333,0,0,1,0,0,1,0,1
870,0,26.0,0,0,7.8958,0,0,1,0,0,1,0,1
871,1,47.0,1,1,52.5542,1,0,0,0,0,1,1,0
872,0,33.0,0,0,5.0000,1,0,0,0,0,1,0,1
873,0,47.0,0,0,9.0000,0,0,1,0,0,1,0,1
874,1,28.0,1,0,24.0000,0,1,0,1,0,0,1,0
875,1,15.0,0,0,7.2250,0,0,1,1,0,0,1,0
876,0,20.0,0,0,9.8458,0,0,1,0,0,1,0,1
877,0,19.0,0,0,7.8958,0,0,1,0,0,1,0,1
878,0,NaN,0,0,7.8958,0,0,1,0,0,1,0,1
879,1,56.0,0,1,83.1583,1,0,0,1,0,0,1,0
880,1,25.0,0,1,26.0000,0,1,0,0,0,1,1,0
881,0,33.0,0,0,7.8958,0,0,1,0,0,1,0,1
882,0,22.0,0,0,10.5167,0,0,1,0,0,1,1,0
883,0,28.0,0,0,10.5000,0,1,0,0,0,1,0,1
884,0,25.0,0,0,7.0500,0,0,1,0,0,1,0,1
885,0,39.0,0,5,29.1250,0,0,1,0,1,0,1,0
886,0,27.0,0,0,13.0000,0,1,0,0,0,1,0,1
887,1,19.0,0,0,30.0000,1,0,0,0,0,1,1,0
888,0,NaN,1,2,23.4500,0,0,1,0,0,1,1,0
889,1,26.0,0,0,30.0000,1,0,0,1,0,0,0,1
890,0,32.0,0,0,7.7500,0,0,1,0,1,0,0,1

## Do the same with the test dataset

In [5]:
pclass = pd.get_dummies(test['Pclass'])
pclass = pclass.rename(columns={1: 'primeira', 2: 'segunda', 3: 'terceira'})

embarked = pd.get_dummies(test['Embarked'])
embarked = embarked.rename(columns={'C':'Cherbourg', 'Q':'Queenstown', 'S':'Southampton'})

sex = pd.get_dummies(test['Sex'])

test = pd.merge(left = test, right = pclass, left_index = True, right_index = True)
test = pd.merge(left = test, right = embarked, left_index = True, right_index = True)
test = pd.merge(left = test, right = sex, left_index = True, right_index = True)

test = test.drop(['Pclass','Embarked','Sex'], axis=1)

## Fill out the NaN values

In [6]:
train['Age'].fillna(train['Age'].mean(), inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(), inplace=True)
test

,Age,SibSp,Parch,Fare,primeira,segunda,terceira,Cherbourg,Queenstown,Southampton,female,male
0,34.50000,0,0,7.8292,0,0,1,0,1,0,0,1
1,47.00000,1,0,7.0000,0,0,1,0,0,1,1,0
2,62.00000,0,0,9.6875,0,1,0,0,1,0,0,1
3,27.00000,0,0,8.6625,0,0,1,0,0,1,0,1
4,22.00000,1,1,12.2875,0,0,1,0,0,1,1,0
5,14.00000,0,0,9.2250,0,0,1,0,0,1,0,1
6,30.00000,0,0,7.6292,0,0,1,0,1,0,1,0
7,26.00000,1,1,29.0000,0,1,0,0,0,1,0,1
8,18.00000,0,0,7.2292,0,0,1,1,0,0,1,0
9,21.00000,2,0,24.1500,0,0,1,0,0,1,0,1
10,30.27259,0,0,7.8958,0,0,1,0,0,1,0,1
11,46.00000,0,0,26.0000,1,0,0,0,0,1,0,1
12,23.00000,1,0,82.2667,1,0,0,0,0,1,1,0
13,63.00000,1,0,26.0000,0,1,0,0,0,1,0,1
14,47.00000,1,0,61.1750,1,0,0,0,0,1,1,0
15,24.00000,1,0,27.7208,0,1,0,1,0,0,1,0
16,35.00000,0,0,12.3500,0,1,0,0,1,0,0,1
17,21.00000,0,0,7.2250,0,0,1,1,0,0,0,1
18,27.00000,1,0,7.9250,0,0,1,0,0,1,1,0
19,45.00000,0,0,7.2250,0,0,1,1,0,0,1,0
20,55.00000,1,0,59.4000,1,0,0,1,0,0,0,1
21,9.00000,0,1,3.1708,0,0,1,0,0,1,0,1
22,30.27259,0,0,31.6833,1,0,0,0,0,1,1,0
23,21.00000,0,1,61.3792,1,0,0,1,0,0,0,1
24,48.00000,1,3,262.3750,1,0,0,1,0,0,1,0
25,50.00000,1,0,14.5000,0,0,1,0,0,1,0,1
26,22.00000,0,1,61.9792,1,0,0,1,0,0,1,0
27,22.50000,0,0,7.2250,0,0,1,1,0,0,0,1
28,41.00000,0,0,30.5000,1,0,0,0,0,1,0,1
29,30.27259,2,0,21.6792,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.00000,0,0,7.7500,0,0,1,0,1,0,0,1
389,6.00000,3,1,21.0750,0,0,1,0,0,1,0,1
390,23.00000,0,0,93.5000,1,0,0,0,0,1,0,1
391,51.00000,0,1,39.4000,1,0,0,0,0,1,1,0
392,13.00000,0,2,20.2500,0,0,1,0,0,1,0,1
393,47.00000,0,0,10.5000,0,1,0,0,0,1,0,1
394,29.00000,3,1,22.0250,0,0,1,0,0,1,0,1
395,18.00000,1,0,60.0000,1,0,0,0,0,1,1,0
396,24.00000,0,0,7.2500,0,0,1,0,1,0,0,1
397,48.00000,1,1,79.2000,1,0,0,1,0,0,1,0
398,22.00000,0,0,7.7750,0,0,1,0,0,1,0,1
399,31.00000,0,0,7.7333,0,0,1,0,1,0,0,1
400,30.00000,0,0,164.8667,1,0,0,0,0,1,1,0
401,38.00000,1,0,21.0000,0,1,0,0,0,1,0,1
402,22.00000,0,1,59.4000,1,0,0,1,0,0,1,0
403,17.00000,0,0,47.1000,1,0,0,0,0,1,0,1
404,43.00000,1,0,27.7208,1,0,0,1,0,0,0,1
405,20.00000,0,0,13.8625,0,1,0,1,0,0,0,1
406,23.00000,1,0,10.5000,0,1,0,0,0,1,0,1
407,50.00000,1,1,211.5000,1,0,0,1,0,0,0,1
408,30.27259,0,0,7.7208,0,0,1,0,1,0,1,0
409,3.00000,1,1,13.7750,0,0,1,0,0,1,1,0
410,30.27259,0,0,7.7500,0,0,1,0,1,0,1,0
411,37.00000,1,0,90.0000,1,0,0,0,1,0,1,0
412,28.00000,0,0,7.7750,0,0,1,0,0,1,1,0
413,30.27259,0,0,8.0500,0,0,1,0,0,1,0,1
414,39.00000,0,0,108.9000,1,0,0,1,0,0,1,0
415,38.50000,0,0,7.2500,0,0,1,0,0,1,0,1
416,30.27259,0,0,8.0500,0,0,1,0,0,1,0,1
417,30.27259,1,1,22.3583,0,0,1,1,0,0,0,1

## Implementation of XGBoost

In [40]:
results = pd.read_csv(open('gender_submission.csv', newline=''))

X_train = train.drop(['Survived'], axis=1)
y_train = train['Survived']

X_test = test

dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=results['Survived'])

param = {
    'max_depth': 3,  # the maximum depth of each tree
    'eta': 0.003,  # the training step for each iteration
    'silent': 1,  # logging mode - quiet
    'objective': 'multi:softprob',  # error evaluation for multiclass training
    'num_class': 3}  # the number of classes that exist in this datset
num_round = 20  # the number of training iterations

bst = xgb.train(param, dtrain, num_round)

preds = bst.predict(dtest)

best_preds = np.asarray([np.argmax(line) for line in preds])

best_preds

results['Survived'] = best_preds
results
results.to_csv('results_xgboost.csv', index=False)

## Implementation of Neural Network

In [33]:
results = pd.read_csv(open('gender_submission.csv', newline=''))

X_train = train.drop(['Survived'], axis=1)
y_train = train['Survived']

X_test = test

clf = MLPClassifier(activation= 'relu', solver='sgd', alpha=1e-5,hidden_layer_sizes=(16,16), random_state=1)

clf.fit(X_train, y_train)

myResults = clf.predict(X_test)

results['Survived'] = myResults
results
results.to_csv('results_neuralnetwork.csv', index=False)

0.787081339713

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         0
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         0
409         1301         1
410         1302         0
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]